@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    background-color: rgb(34, 34, 34);
    font-weight: normal;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

form {
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 20px;
}

button, input[type=submit], input[type=button] {
    border: none;
    border-radius: 0px;
    padding: 2px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

input[type=text] {
    border: none;
    border-radius: 0px;
    padding: 2px;
    outline: none;
}

input[type=text] {
    border: none;
    border-radius: 0px;
    padding: 2px;
    outline: none;
}


select {
    border: none;
    border-radius: 0px;
    padding: 2px;
}

.navbar {
    background-color: rgb(38, 38, 38);
}

.navbar .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.navbar a {
    display: block;
    text-align: center;
    width: 90px;
    padding: 10px 0px;
}

.navbar a:hover {
    background-color: rgb(50, 50, 50);
}

.navbar a.current {
    background-color: rgb(100, 200, 100);
    color: rgb(255, 255, 255);
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    margin: auto;
}

.text {
    text-align: center;
    padding: 40px;
}

.nottext {
    max-width: 400px;
    padding-top: 20px;
    margin: auto;
}

.nappi input[type=button] {
    width: 80px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: width 100ms, height 100ms, font-size 100ms;
}

.nappi input[type=button]:active {
    width: 120px;
    height: 60px;
    font-size: 30px;
}

.lol {
    width: 200px;
}

@media (max-width: 1220px) {
    .grid {
        width: auto;
    }
}